html, body
{
	background-color: #000080;
	font-family: Arial, sans-serif;
	margin: 0;
}

header
{
		background-color: #000066;
		padding: 40px;
		text-align: center;
          }

h1{
	text-shadow: 0 4px 20px #330033;
	font-size: 90px;
	color: plum;
			}

h2
{
	color: plum;
}			

header img{
		border-radius: 240px;
		width: 450px;
		box-shadow: 0 10px 20px plum;
		height: 450px;
		border: 3px solid #99bbff;
             }
.content
{
	color: white;
    text-align: center;
	max-width: 900px;
	margin: 0 auto;
	padding: 0 20px;
}

ol li
{
	list-style-type: none;
}

img.big-image2
{
	max-width: 100%;
}

p.caption
{
	font-size: 16px;
	color: lightgrey;
	font-style: italic;
}

ul
{
	list-style: none;
	padding: 0;
	margin: 0;
}

a{
	background-color: #3333ff;
	color: plum;
	text-decoration: none;
}

a:hover
{
	background-color: white;
}

footer
{
	margin-top: 20px;
	padding: 40px 20px;
	background-color: #E6E6E6;
}

footer ul
{
	text-align: center;
}

footer ul li
{
	display: inline-block;
	margin:0 5px;
}
/* Design for header * ^ CODE ^
**********************************************
<header>
	<img src="img/profile.jpg">
	<h1>Kagome</h1>

</header>
***********************************************
*/





